In [1]:
# import reqiuired packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime 
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings("ignore")
from collections import Counter
import seaborn as sns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [2]:
# read the dataset
df = pd.read_excel('Data/ANZ synthesised transaction dataset.xlsx')

In [3]:
# let's check the dataset 
df.head()

,status,card_present_flag,bpay_biller_code,account,currency,long_lat,txn_description,merchant_id,merchant_code,first_name,balance,date,gender,age,merchant_suburb,merchant_state,extraction,amount,transaction_id,country,customer_id,merchant_long_lat,movement
0,authorized,1.0,NaN,ACC-1598451071,AUD,153.41 -27.95,POS,81c48296-73be-44a7-befa-d053f48ce7cd,NaN,Diana,35.39,2018-08-01,F,26,Ashmore,QLD,2018-08-01T01:01:15.000+0000,16.25,a623070bfead4541a6b0fff8a09e706c,Australia,CUS-2487424745,153.38 -27.99,debit
1,authorized,0.0,NaN,ACC-1598451071,AUD,153.41 -27.95,SALES-POS,830a451c-316e-4a6a-bf25-e37caedca49e,NaN,Diana,21.20,2018-08-01,F,26,Sydney,NSW,2018-08-01T01:13:45.000+0000,14.19,13270a2a902145da9db4c951e04b51b9,Australia,CUS-2487424745,151.21 -33.87,debit
2,authorized,1.0,NaN,ACC-1222300524,AUD,151.23 -33.94,POS,835c231d-8cdf-4e96-859d-e9d571760cf0,NaN,Michael,5.71,2018-08-01,M,38,Sydney,NSW,2018-08-01T01:26:15.000+0000,6.42,feb79e7ecd7048a5a36ec889d1a94270,Australia,CUS-2142601169,151.21 -33.87,debit
3,authorized,1.0,NaN,ACC-1037050564,AUD,153.10 -27.66,SALES-POS,48514682-c78a-4a88-b0da-2d6302e64673,NaN,Rhonda,2117.22,2018-08-01,F,40,Buderim,QLD,2018-08-01T01:38:45.000+0000,40.90,2698170da3704fd981b15e64a006079e,Australia,CUS-1614226872,153.05 -26.68,debit
4,authorized,1.0,NaN,ACC-1598451071,AUD,153.41 -27.95,SALES-POS,b4e02c10-0852-4273-b8fd-7b3395e32eb0,NaN,Diana,17.95,2018-08-01,F,26,Mermaid Beach,QLD,2018-08-01T01:51:15.000+0000,3.25,329adf79878c4cf0aeb4188b4691c266,Australia,CUS-2487424745,153.44 -28.06,debit

In [17]:
# Let's get the salaries
k = df[df['txn_description'] == 'PAY/SALARY'].sort_values('first_name')

In [32]:
# Get distinct salaries for each 
salaries = k.drop_duplicates(subset = ['account'])
salaries.reset_index(drop=True, inplace=True)
salaries['annual_sal'] = salaries.amount * 12
#salaries = salaries[['account', 'currency', 'first_name', 'gender', 'age', 'annual_sal']]

In [33]:
salaries

,status,card_present_flag,bpay_biller_code,account,currency,long_lat,txn_description,merchant_id,merchant_code,first_name,balance,date,gender,age,merchant_suburb,merchant_state,extraction,amount,transaction_id,country,customer_id,merchant_long_lat,movement,annual_sal
0,posted,NaN,0,ACC-2528867619,AUD,138.58 -34.96,PAY/SALARY,NaN,0.0,Abigail,5075.31,2018-08-17,F,40,NaN,NaN,2018-08-17T13:00:00.000+0000,1946.57,26795b712fa142b58a636d823b5e0191,Australia,CUS-2505971401,NaN,credit,23358.84
1,posted,NaN,0,ACC-1890605467,AUD,143.88 -37.66,PAY/SALARY,NaN,0.0,Alexander,11860.25,2018-08-24,M,38,NaN,NaN,2018-08-24T15:00:00.000+0000,3649.51,0f70c817266045b7b85bba25d71b59e2,Australia,CUS-1478398256,NaN,credit,43794.12
2,posted,NaN,0,ACC-414431115,AUD,142.77 -37.06,PAY/SALARY,NaN,0.0,Amy,6988.64,2018-10-25,F,43,NaN,NaN,2018-10-25T16:00:00.000+0000,1630.36,a1f2848d6308429c946021b9b6326a2e,Australia,CUS-2599279756,NaN,credit,19564.32
3,posted,NaN,0,ACC-721712940,AUD,145.09 -37.82,PAY/SALARY,NaN,0.0,Andrew,55110.06,2018-09-20,M,78,NaN,NaN,2018-09-20T12:00:00.000+0000,782.42,9aa85ccea9ed4d25b048937bfa75edcb,Australia,CUS-1646183815,NaN,credit,9389.04
4,posted,NaN,0,ACC-1973887809,AUD,115.78 -31.90,PAY/SALARY,NaN,0.0,Antonio,5674.54,2018-09-12,M,26,NaN,NaN,2018-09-12T16:00:00.000+0000,1098.91,dd06cc65cf474b15b84550fba6e3bb33,Australia,CUS-1646621553,NaN,credit,13186.92
5,posted,NaN,0,ACC-3741880913,AUD,150.50 -23.40,PAY/SALARY,NaN,0.0,Ashley,6095.16,2018-08-17,F,25,NaN,NaN,2018-08-17T16:00:00.000+0000,2282.36,d7709442d6f84d2a8c2b95d1083f0590,Australia,CUS-1220154422,NaN,credit,27388.32
6,posted,NaN,0,ACC-1683215619,AUD,138.67 -34.86,PAY/SALARY,NaN,0.0,Barry,2503.10,2018-08-17,M,38,NaN,NaN,2018-08-17T15:00:00.000+0000,2500.00,04919fcea7f94f67a0110b4fe9e566d2,Australia,CUS-1604596597,NaN,credit,30000.00
7,posted,NaN,0,ACC-1199531521,AUD,116.02 -31.87,PAY/SALARY,NaN,0.0,Billy,17697.63,2018-10-12,M,52,NaN,NaN,2018-10-12T13:00:00.000+0000,3785.78,673eca6c8c144949b63295890727ff4d,Australia,CUS-134833760,NaN,credit,45429.36
8,posted,NaN,0,ACC-2650850707,AUD,148.16 -23.52,PAY/SALARY,NaN,0.0,Brian,120372.61,2018-10-29,M,42,NaN,NaN,2018-10-29T13:00:00.000+0000,3231.26,96b2296a82ac4ac89df93a0f0bbb173e,Australia,CUS-2819545904,NaN,credit,38775.12
9,posted,NaN,0,ACC-2265520058,AUD,151.27 -33.85,PAY/SALARY,NaN,0.0,Catherine,6548.23,2018-10-08,F,26,NaN,NaN,2018-10-08T11:00:00.000+0000,1843.14,6494bb95d4264711b3f866af7326e127,Australia,CUS-331942311,NaN,credit,22117.68
10,posted,NaN,0,ACC-37709441,AUD,153.41 -28.01,PAY/SALARY,NaN,0.0,Charles,17139.54,2018-10-02,M,18,NaN,NaN,2018-10-02T11:00:00.000+0000,4132.23,691d8672378940c3a753f95d5c589be4,Australia,CUS-3336454548,NaN,credit,49586.76
11,posted,NaN,0,ACC-354106658,AUD,151.04 -33.80,PAY/SALARY,NaN,0.0,Christine,10891.05,2018-09-14,F,39,NaN,NaN,2018-09-14T15:00:00.000+0000,5103.51,188e04b6e00f44f3a43afbf232a6f5c3,Australia,CUS-2376382098,NaN,credit,61242.12
12,posted,NaN,0,ACC-1334819143,AUD,145.13 -37.70,PAY/SALARY,NaN,0.0,Christopher,64558.32,2018-09-25,M,33,NaN,NaN,2018-09-25T12:00:00.000+0000,2718.51,b463b2c625d740f892e53756c9b8c173,Australia,CUS-3117610635,NaN,credit,32622.12
13,posted,NaN,0,ACC-90814749,AUD,151.68 -32.98,PAY/SALARY,NaN,0.0,Christopher,9905.80,2018-08-24,M,35,NaN,NaN,2018-08-24T15:00:00.000+0000,2308.67,90769ac836244a65b66c505bcf9e7f56,Australia,CUS-1896554896,NaN,credit,27704.04
14,posted,NaN,0,ACC-2259139624,AUD,144.66 -37.91,PAY/SALARY,NaN,0.0,Cindy,14053.84,2018-09-20,F,19,NaN,NaN,2018-09-20T11:00:00.000+0000,3676.94,f44ee633bce248d4b4e9260dffd673f4,Australia,CUS-3174332735,NaN,credit,44123.28
15,posted,NaN,0,ACC-3827517394,AUD,151.12 -33.89,PAY/SALARY,NaN,0.0,Craig,39563.70,2018-09-10,M,28,NaN,NaN,2018-09-10T17:00:00.000+0000,4054.77,9636a6cfa6114db4840bcccf942cd412,Australia,CUS-2663907001,NaN,credit,48657.24
16,posted,NaN,0,ACC-2901672282,AUD,255.00 -573.00,PAY/SALARY,NaN,0.0,Daniel,14864.23,2018-10-26,M,22,NaN,NaN,2018-10-26T17:00:00.000+0000,3328.77,a3720984d89f441c93a62bbe12508eb1,Australia,CUS-1617121891,NaN,credit,39945.24
17,posted,NaN,0,ACC-2270192619,AUD,138.56 -35.27,PAY/SALARY,NaN,0.0,Darren,9637.69,2018-08-06,M,20,NaN,NaN,2018-08-06T17:00:00.000+0000,3026.95,c1d51fe6ac554d37b93d57dba64d6674,Australia,CUS-2110742437,NaN,credit,36323.40
18,posted,NaN,0,ACC-1998563091,AUD,149.03 -35.25,PAY/SALARY,NaN,0.0,David,17520.17,2018-09-11,M,42,NaN,NaN,2018-09-11T13:00:00.000+0000,1757.81,f5688af1387a4d7cab6c526402acebc3,Australia,CUS-3395687666,NaN,credit,21093.72
19,posted,NaN,0,ACC-2305712452,AUD,138.61 -34.89,PAY/SALARY,NaN,0.0,Debra,7515.44,2018-10-30,F,18,NaN,NaN,2018-10-30T14:00:00.000+0000,761.33,a65014f2fc8b4a9fa21b6cbed5065e41,Australia,CUS-1842679196,NaN,credit,9135.96
20,posted,NaN,0,ACC-3771436525,AUD,145.04 -37.92,PAY/SALARY,NaN,0.0,Derek,8682.68,2018-10-30,M,20,NaN,NaN,2018-10-30T17:00:00.000+0000,1099.70,df7cf5f12a374d71b075518558ee424d,Australia,CUS-3325710106,NaN,credit,13196.40
21,posted,NaN,0,ACC-1598451071,AUD,153.41 -27.95,PAY/SALARY,NaN,0.0,Diana,2727.43,2018-09-19,F,26,NaN,NaN,2018-09-19T14:00:00.000+0000,1013.67,63a5b2fc882e4a3a9704be310b85225d,Australia,CUS-2487424745,NaN,credit,12164.04
22,posted,NaN,0,ACC-1424176027,AUD,151.08 -33.93,PAY/SALARY,NaN,0.0,Donald,2200.13,2018-08-09,M,22,NaN,NaN,2018-08-09T14:00:00.000+0000,1928.97,af797fa1790942a882d4b53da514731c,Australia,CUS-3431016847,NaN,credit,23147.64
23,posted,NaN,0,ACC-80388494,AUD,144.97 -37.42,PAY/SALARY,NaN,0.0,Dustin,4170.52,2018-08-24,M,28,NaN,NaN,2018-08-24T16:00:00.000+0000,1916.51,65772072c5954b5ca69edb12b50a680c,Australia,CUS-1140341822,NaN,credit,22998.12
24,posted,NaN,0,ACC-2249586092,AUD,115.98 -32.07,PAY/SALARY,NaN,0.0,Edward,5053.83,2018-08-06,M,19,NaN,NaN,2018-08-06T13:00:00.000+0000,990.55,975f3f94186245f0a38afde27da06654,Australia,CUS-443776336,NaN,credit,11886.60
25,posted,NaN,0,ACC-2674800293,AUD,144.96 -37.69,PAY/SALARY,NaN,0.0,Elizabeth,30873.87,2018-10-26,F,50,NaN,NaN,2018-10-26T14:00:00.000+0000,1436.98,7c6e3b6ce7d74e9f931c4cdfa3eb3a64,Australia,CUS-2977593493,NaN,credit,17243.76
26,posted,NaN,0,ACC-2615038700,AUD,145.35 -38.03,PAY/SALARY,NaN,0.0,Emily,31071.17,2018-09-03,F,43,NaN,NaN,2018-09-03T13:00:00.000+0000,664.43,6dcaa668861b4d598d3dde412e300116,Australia,CUS-3255104878,NaN,credit,7973.16
27,posted,NaN,0,ACC-3326339947,AUD,151.18 -33.80,PAY/SALARY,NaN,0.0,Eric,12978.93,2018-10-24,M,22,NaN,NaN,2018-10-24T12:00:00.000+0000,983.36,8860723cc2ea444cb328f0d46e7c4c7f,Australia,CUS-326006476,NaN,credit,11800.32
28,posted,NaN,0,ACC-4281711154,AUD,144.98 -37.84,PAY/SALARY,NaN,0.0,Eric,43579.84,2018-10-30,M,42,NaN,NaN,2018-10-30T16:00:00.000+0000,1757.82,b6d417eb17f14acdb488d491b19a3f5e,Australia,CUS-3151318058,NaN,credit,21093.84
29,posted,NaN,0,ACC-2171593283,AUD,146.94 -36.04,PAY/SALARY,NaN,0.0,Fernando,19893.45,2018-10-31,M,19,NaN,NaN,2018-10-31T17:00:00.000+0000,2639.76,d4804402c1c34e0ebc53a4c395e0c63d,Australia,CUS-2317998716,NaN,credit,31677.12
30,posted,NaN,0,ACC-1243371644,AUD,150.90 -33.78,PAY/SALARY,NaN,0.0,Gregory,6599.68,2018-10-18,M,42,NaN,NaN,2018-10-18T13:00:00.000+0000,1681.58,76d2ee9752334f47a12c1ec298921b5b,Australia,CUS-3904958894,NaN,credit,20178.96
31,posted,NaN,0,ACC-3536132544,AUD,144.93 -37.79,PAY/SALARY,NaN,0.0,Heather,7333.65,2018-10-04,F,41,NaN,NaN,2018-10-04T11:00:00.000+0000,2101.51,b813a81187c2450aa840afb3822fdb01,Australia,CUS-2348881191,NaN,credit,25218.12
32,posted,NaN,0,ACC-588564840,AUD,151.27 -33.76,PAY/SALARY,NaN,0.0,Isaiah,17906.31,2018-09-26,M,23,NaN,NaN,2018-09-26T11:00:00.000+0000,3903.95,3885424223de46eb894231ee607c28f2,Australia,CUS-1462656821,NaN,credit,46847.40
33,posted,NaN,0,ACC-211792489,AUD,138.63 -34.93,PAY/SALARY,NaN,0.0,Jacqueline,7397.59,2018-10-23,F,30,NaN,NaN,2018-10-23T17:00:00.000+0000,4910.90,1c410d75288f4fbb832f88d7f612693b,Australia,CUS-497688347,NaN,credit,58930.80
34,posted,NaN,0,ACC-854938045,AUD,147.63 -22.84,PAY/SALARY,NaN,0.0,James,10551.95,2018-08-20,M,28,NaN,NaN,2018-08-20T17:00:00.000+0000,2538.68,959cd84aa6f046d0841a94f804be20de,Australia,CUS-4023861240,NaN,credit,30464.16
35,posted,NaN,0,ACC-1903037542,AUD,153.05 -27.61,PAY/SALARY,NaN,0.0,Jeffrey,5694.13,2018-10-11,M,30,NaN,NaN,2018-10-11T14:00:00.000+0000,1808.62,e62e1637cbdf4804af4059d1948f06e1,Australia,CUS-860700529,NaN,credit,21703.44
36,posted,NaN,0,ACC-3541460373,AUD,145.00 -37.83,PAY/SALARY,NaN,0.0,Jeffrey,4756.59,2018-10-10,M,24,NaN,NaN,2018-10-10T13:00:00.000+0000,1408.08,aa21062a1680434fb85d92395ef69f1e,Australia,CUS-1433879684,NaN,credit,16896.96
37,posted,NaN,0,ACC-1516130869,AUD,130.84 -12.45,PAY/SALARY,NaN,0.0,Jessica,3351.59,2018-09-05,F,21,NaN,NaN,2018-09-05T13:00:00.000+0000,2306.63,07e4515c72c34957b946a926b888819b,Australia,CUS-325142416,NaN,credit,27679.56
38,posted,NaN,0,ACC-3485804958,AUD,138.52 -35.01,PAY/SALARY,NaN,0.0,Jessica,28529.10,2018-10-10,F,34,NaN,NaN,2018-10-10T16:00:00.000+0000,3903.73,649c5de3b5f64814a52257a55a29e431,Australia,CUS-1196156254,NaN,credit,46844.76
39,posted,NaN,0,ACC-4059612845,AUD,130.98 -12.49,PAY/SALARY,NaN,0.0,Jonathan,63656.55,2018-10-24,M,38,NaN,NaN,2018-10-24T16:00:00.000+0000,2647.38,4fc58f9dfba14f7ea4d363b0de723c92,Australia,CUS-495599312,NaN,credit,31768.56
40,posted,NaN,0,ACC-2890243754,AUD,153.32 -27.93,PAY/SALARY,NaN,0.0,Joseph,5281.59,2018-10-05,M,37,NaN,NaN,2018-10-05T12:00:00.000+0000,917.45,f06098e9568143c5977a0a94383136a8,Australia,CUS-2695611575,NaN,credit,11009.40
41,posted,NaN,0,ACC-966140392,AUD,147.08 -37.97,PAY/SALARY,NaN,0.0,Joseph,10156.85,2018-10-12,M,21,NaN,NaN,2018-10-12T17:00:00.000+0000,2572.91,b4ab76590c4846dda3eab005b49c93e3,Australia,CUS-537508723,NaN,credit,30874.92
42,posted,NaN,0,ACC-1990648130,AUD,114.62 -28.80,PAY/SALARY,NaN,0.0,Kaitlyn,3357.61,2018-08-14,F,21,NaN,NaN,2018-08-14T14:00:00.000+0000,1037.07,6f9ab08a03db4e3888b0023984ced9f0,Australia,CUS-809013380,NaN,credit,12444.84
43,posted,NaN,0,ACC-4163822186,AUD,149.03 -34.97,PAY/SALARY,NaN,0.0,Karen,6759.80,2018-09-06,F,26,NaN,NaN,2018-09-06T11:00:00.000+0000,920.71,38f156fc5fa044e9b9c265af9016ad48,Australia,CUS-2630892467,NaN,credit,11048.52
44,posted,NaN,0,ACC-3317636250,AUD,153.02 -27.66,PAY/SALARY,NaN,0.0,Kenneth,19130.97,2018-10-19,M,35,NaN,NaN,2018-10-19T17:00:00.000+0000,2544.76,3351a527c30845aab80520ccfc7103a5,Australia,CUS-2738291516,NaN,credit,30537.12
45,posted,NaN,0,ACC-240804743,AUD,121.48 -30.75,PAY/SALARY,NaN,0.0,Kenneth,7961.21,2018-08-20,M,29,NaN,NaN,2018-08-20T11:00:00.000+0000,4405.30,b309ae70aef54c3bbf6637813026ba1f,Australia,CUS-261674136,NaN,credit,52863.60
46,posted,NaN,0,ACC-4258502723,AUD,145.45 -37.74,PAY/SALARY,NaN,0.0,Kimberly,6203.64,2018-10-22,F,24,NaN,NaN,2018-10-22T13:00:00.000+0000,1059.84,fd84456331d7452fae73be187e0aadcf,Australia,CUS-3378712515,NaN,credit,12718.08
47,posted,NaN,0,ACC-1217063613,AUD,147.61 -37.82,PAY/SALARY,NaN,0.0,Kimberly,4863.86,2018-09-26,F,27,NaN,NaN,2018-09-26T13:00:00.000+0000,4863.62,8659baa692924427aefbf4077c5a9d67,Australia,CUS-1739931018,NaN,credit,58363.44
48,posted,NaN,0,ACC-53508546,AUD,150.62 -33.76,PAY/SALARY,NaN,0.0,Kimberly,1067.25,2018-08-02,F,35,NaN,NaN,2018-08-02T17:00:00.000+0000,725.32,7573c2cb8ab44dffbfa85361990e13da,Australia,CUS-72755508,NaN,credit,8703.84
49,posted,NaN,0,ACC-2776252858,AUD,144.95 -37.76,PAY/SALARY,NaN,0.0,Kristin,5420.91,2018-09-19,F,43,NaN,NaN,2018-09-19T13:00:00.000+0000,1068.04,1b0f7eaad32945249589f2a2f968a659,Australia,CUS-4123612273,NaN,credit,12816.48
50,posted,NaN,0,ACC-2231965366,AUD,144.96 -37.84,PAY/SALARY,NaN,0.0,Linda,16407.89,2018-09-18,F,35,NaN,NaN,2018-09-18T12:00:00.000+0000,2443.24,509c66ec9f2e438b8b6c7cf5753a1f30,Australia,CUS-2155701614,NaN,credit,29318.88
51,posted,NaN,0,ACC-2153562714,AUD,116.00 -31.88,PAY/SALARY,NaN,0.0,Linda,7076.21,2018-09-24,F,24,NaN,NaN,2018-09-24T14:00:00.000+0000,3712.56,8d7ddef22c7c4404b63137f3ebd1a6ff,Australia,CUS-423725039,NaN,credit,44550.72
52,posted,NaN,0,ACC-154431271,AUD,153.09 -27.48,PAY/SALARY,NaN,0.0,Lori,1546.67,2018-08-09,F,18,NaN,NaN,2018-08-09T17:00:00.000+0000,1537.68,e3d04e24400c474583e98f82f75c4869,Australia,CUS-3702001629,NaN,credit,18452.16
53,posted,NaN,0,ACC-4065652575,AUD,115.81 -31.82,PAY/SALARY,NaN,0.0,Lucas,18516.40,2018-10-29,M,21,NaN,NaN,2018-10-29T11:00:00.000+0000,3578.65,fda341137c594efb8d6722130ff029ee,Australia,CUS-1117979751,NaN,credit,42943.80
54,posted,NaN,0,ACC-2173390920,AUD,144.71 -37.58,PAY/SALARY,NaN,0.0,Luis,10162.29,2018-10-08,M,27,NaN,NaN,2018-10-08T13:00:00.000+0000,1396.23,fc274f9ad16444deadc54586d564704f,Australia,CUS-3180318393,NaN,credit,16754.76
55,posted,NaN,0,ACC-574997646,AUD,150.79 -33.64,PAY/SALARY,NaN,0.0,Mackenzie,6988.76,2018-10-19,F,18,NaN,NaN,2018-10-19T14:00:00.000+0000,1952.29,4ec0e86aff554c94b59b08df78d1d7d3,Australia,CUS-586638664,NaN,credit,23427.48
56,posted,NaN,0,ACC-1438600314,AUD,138.69 -34.84,PAY/SALARY,NaN,0.0,Maria,3272.79,2018-09-24,F,35,NaN,NaN,2018-09-24T12:00:00.000+0000,862.95,cbcaa37d5514427bae19a583bae171e8,Australia,CUS-2650223890,NaN,credit,10355.40
57,posted,NaN,0,ACC-1650504218,AUD,145.01 -37.93,PAY/SALARY,NaN,0.0,Marissa,5697.52,2018-08-22,F,23,NaN,NaN,2018-08-22T12:00:00.000+0000,1626.48,dc875fcbcc4c48f79b4892c29f73fce6,Australia,CUS-2500783281,NaN,credit,19517.76
58,posted,NaN,0,ACC-559365433,AUD,147.31 -42.88,PAY/SALARY,NaN,0.0,Mary,1256.90,2018-08-10,F,64,NaN,NaN,2018-08-10T13:00:00.000+0000,576.00,8d9329c7dff0494e9d232fd01538f580,Australia,CUS-1654129794,NaN,credit,6912.00
59,posted,NaN,0,ACC-1349834573,AUD,145.17 -37.84,PAY/SALARY,NaN,0.0,Matthew,8965.29,2018-08-15,M,39,NaN,NaN,2018-08-15T17:00:00.000+0000,3071.14,ebb87a468a524e20b6bcff34bd7482bf,Australia,CUS-1790886359,NaN,credit,36853.68
60,posted,NaN,0,ACC-3021093232,AUD,149.83 -29.47,PAY/SALARY,NaN,0.0,Melissa,8446.10,2018-09-10,F,30,NaN,NaN,2018-09-10T14:00:00.000+0000,1636.72,ecae7b61234d4ee7ad0fc47f9bf25790,Australia,CUS-55310383,NaN,credit,19640.64
61,posted,NaN,0,ACC-964839203,AUD,146.92 -36.07,PAY/SALARY,NaN,0.0,Michael,30780.23,2018-08-10,M,21,NaN,NaN,2018-08-10T16:00:00.000+0000,1560.20,228d924501214204b0b1fb8cf116ac26,Australia,CUS-2059096722,NaN,credit,18722.40
62,posted,NaN,0,ACC-1056639002,AUD,145.03 -37.91,PAY/SALARY,NaN,0.0,Michael,48555.95,2018-09-13,M,22,NaN,NaN,2018-09-13T17:00:00.000+0000,3195.01,dd9ac8be24424a4ebc1f50193b12f139,Australia,CUS-3462882033,NaN,credit,38340.12
63,posted,NaN,0,ACC-1222300524,AUD,151.23 -33.94,PAY/SALARY,NaN,0.0,Michael,1006.33,2018-09-11,M,38,NaN,NaN,2018-09-11T17:00:00.000+0000,1002.13,a482d73773854d24a97ad042ef265852,Australia,CUS-2142601169,NaN,credit,12025.56
64,posted,NaN,0,ACC-602667573,AUD,151.23 -33.96,PAY/SALARY,NaN,0.0,Michael,18606.85,2018-10-08,M,40,NaN,NaN,2018-10-08T14:00:00.000+0000,2280.36,11ac6e0110734f40bcb03ba1c747924e,Australia,CUS-2031327464,NaN,credit,27364.32
65,posted,NaN,0,ACC-2988263882,AUD,145.18 -37.90,PAY/SALARY,NaN,0.0,Michael,6756.84,2018-10-04,M,44,NaN,NaN,2018-10-04T15:00:00.000+0000,596.33,79a347369c0145859fdf28f797496f5d,Australia,CUS-1233833708,NaN,credit,7155.96
66,posted,NaN,0,ACC-847145727,AUD,115.90 -31.92,PAY/SALARY,NaN,0.0,Michael,57686.46,2018-09-10,M,19,NaN,NaN,2018-09-10T17:00:00.000+0000,2854.74,8420a9b70719410d9703755cc77e3f0a,Australia,CUS-1609060617,NaN,credit,34256.88
67,posted,NaN,0,ACC-819621312,AUD,145.04 -37.85,PAY/SALARY,NaN,0.0,Michele,4977.55,2018-09-05,F,30,NaN,NaN,2018-09-05T17:00:00.000+0000,1158.15,5f46d4a33fdc4d70ae0e395925f9eaba,Australia,CUS-1271030853,NaN,credit,13897.80
68,posted,NaN,0,ACC-1710017148,AUD,150.82 -34.01,PAY/SALARY,NaN,0.0,Michelle,17663.99,2018-10-15,F,19,NaN,NaN,2018-10-15T17:00:00.000+0000,3977.46,237ce909ec984191b6229ec39d82a99c,Australia,CUS-883482547,NaN,credit,47729.52
69,posted,NaN,0,ACC-3879258709,AUD,143.83 -37.66,PAY/SALARY,NaN,0.0,Natasha,203046.00,2018-10-01,F,40,NaN,NaN,2018-10-01T11:00:00.000+0000,4216.04,ea0b3c15258d418f8ea3461e164ca090,Australia,CUS-527400765,NaN,credit,50592.48
70,posted,NaN,0,ACC-2681137560,AUD,151.11 -33.99,PAY/SALARY,NaN,0.0,Nathaniel,13706.66,2018-10-22,M,31,NaN,NaN,2018-10-22T13:00:00.000+0000,2886.52,0a789c20ba26446e8b48e4c85f014ee9,Australia,CUS-2083971310,NaN,credit,34638.24
71,posted,NaN,0,ACC-2014856841,AUD,144.99 -37.90,PAY/SALARY,NaN,0.0,Patrick,260393.90,2018-08-10,M,46,NaN,NaN,2018-08-10T17:00:00.000+0000,2179.96,dde605aacebe400fbd69520e2b9e8593,Australia,CUS-2370108457,NaN,credit,26159.52
72,posted,NaN,0,ACC-3941181087,AUD,115.79 -31.94,PAY/SALARY,NaN,0.0,Paul,3506.06,2018-08-09,M,25,NaN,NaN,2018-08-09T17:00:00.000+0000,2687.85,acf0440be17643a088a11d1fa7f048d2,Australia,CUS-3989008654,NaN,credit,32254.20
73,posted,NaN,0,ACC-1788473090,AUD,145.06 -37.95,PAY/SALARY,NaN,0.0,Rachael,3830.37,2018-08-17,F,21,NaN,NaN,2018-08-17T13:00:00.000+0000,2023.68,ca932331b54d4cb4ac3659ad2ab18294,Australia,CUS-134193016,NaN,credit,24284.16
74,posted,NaN,0,ACC-1652235822,AUD,144.89 -37.81,PAY/SALARY,NaN,0.0,Renee,21251.74,2018-09-25,F,38,NaN,NaN,2018-09-25T17:00:00.000+0000,1541.12,1a695a55b1164b4c806a25cf835fed98,Australia,CUS-2206365095,NaN,credit,18493.44
75,posted,NaN,0,ACC-1037050564,AUD,153.10 -27.66,PAY/SALARY,NaN,0.0,Rhonda,4465.56,2018-09-24,F,40,NaN,NaN,2018-09-24T11:00:00.000+0000,892.09,73e282fb810d4273b5482aa4c3cc601a,Australia,CUS-1614226872,NaN,credit,10705.08
76,posted,NaN,0,ACC-3881031190,AUD,149.19 -21.15,PAY/SALARY,NaN,0.0,Richard,3797.09,2018-08-23,M,37,NaN,NaN,2018-08-23T16:00:00.000+0000,916.75,4d0594f8badd47a7ac9038c3c4afea9e,Australia,CUS-3201519139,NaN,credit,11001.00
77,posted,NaN,0,ACC-2107684084,AUD,145.03 -37.88,PAY/SALARY,NaN,0.0,Richard,12459.42,2018-10-25,M,22,NaN,NaN,2018-10-25T13:00:00.000+0000,2218.73,69ff5a565de643268f0bdffce3bfabe4,Australia,CUS-2283904812,NaN,credit,26624.76
78,posted,NaN,0,ACC-2673069055,AUD,152.99 -27.49,PAY/SALARY,NaN,0.0,Richard,17127.02,2018-08-07,M,24,NaN,NaN,2018-08-07T15:00:00.000+0000,6024.49,b2fedeaf02a6485ba4cf3be69b56a80b,Australia,CUS-51506836,NaN,credit,72293.88
79,posted,NaN,0,ACC-1496451953,AUD,145.16 -37.84,PAY/SALARY,NaN,0.0,Ricky,17543.05,2018-10-01,M,43,NaN,NaN,2018-10-01T13:00:00.000+0000,2588.01,bb51c88d3ca4407b999ad0e73e7ec26d,Australia,CUS-3142625864,NaN,credit,31056.12
80,posted,NaN,0,ACC-1608363396,AUD,151.22 -33.87,PAY/SALARY,NaN,0.0,Robert,6069.17,2018-09-06,M,20,NaN,NaN,2018-09-06T14:00:00.000+0000,2320.30,cce2cd0dd5854a82bff8cfd1165095e1,Australia,CUS-2688605418,NaN,credit,27843.60
81,posted,NaN,0,ACC-2970114956,AUD,144.89 -37.69,PAY/SALARY,NaN,0.0,Robert,8039.71,2018-08-30,M,26,NaN,NaN,2018-08-30T15:00:00.000+0000,1433.98,615cd11c8e4a4edca03ae00c88176bea,Australia,CUS-880898248,NaN,credit,17207.76
82,posted,NaN,0,ACC-3233697971,AUD,151.04 -33.77,PAY/SALARY,NaN,0.0,Robin,8496.43,2018-09-17,F,34,NaN,NaN,2018-09-17T11:00:00.000+0000,1711.39,b4ea64333bcd4d25959cd317d08496e0,Australia,CUS-1147642491,NaN,credit,20536.68
83,posted,NaN,0,ACC-3100725361,AUD,145.73 -17.03,PAY/SALARY,NaN,0.0,Ronald,6111.57,2018-09-26,M,25,NaN,NaN,2018-09-26T15:00:00.000+0000,6107.23,7eb1fdb7aefb40d1a8ada1d27f556542,Australia,CUS-2178051368,NaN,credit,73286.76
84,posted,NaN,0,ACC-3954677887,AUD,115.72 -32.28,PAY/SALARY,NaN,0.0,Ruth,10053.14,2018-10-30,F,47,NaN,NaN,2018-10-30T17:00:00.000+0000,1272.47,0c7862d4c36b4d9abf5cc629b0dacea5,Australia,CUS-3716701010,NaN,credit,15269.64
85,posted,NaN,0,ACC-1443681913,AUD,150.92 -33.77,PAY/SALARY,NaN,0.0,Ryan,3648.80,2018-09-04,M,31,NaN,NaN,2018-09-04T13:00:00.000+0000,996.24,06337a7922a74adeba5615061e473cce,Australia,CUS-3129499595,NaN,credit,11954.88
86,posted,NaN,0,ACC-38923874,AUD,151.27 -33.90,PAY/SALARY,NaN,0.0,Ryan,36558.24,2018-08-31,M,38,NaN,NaN,2018-08-31T11:00:00.000+0000,1880.95,a7829be099c14536a77ccd456e4c938b,Australia,CUS-3249305314,NaN,credit,22571.40
87,posted,NaN,0,ACC-958000567,AUD,130.90 -12.37,PAY/SALARY,NaN,0.0,Sandra,3725.95,2018-08-07,F,34,NaN,NaN,2018-08-07T17:00:00.000+0000,3517.61,123943e86d6c44e9bafe6097034b44d9,Australia,CUS-4142663097,NaN,credit,42211.32

In [38]:
df['annual_sal'] = 0

In [50]:
df.reset_index(drop=True)
salaries.reset_index(drop=True)

,status,card_present_flag,bpay_biller_code,account,currency,long_lat,txn_description,merchant_id,merchant_code,first_name,balance,date,gender,age,merchant_suburb,merchant_state,extraction,amount,transaction_id,country,customer_id,merchant_long_lat,movement,annual_sal
0,posted,NaN,0,ACC-2528867619,AUD,138.58 -34.96,PAY/SALARY,NaN,0.0,Abigail,5075.31,2018-08-17,F,40,NaN,NaN,2018-08-17T13:00:00.000+0000,1946.57,26795b712fa142b58a636d823b5e0191,Australia,CUS-2505971401,NaN,credit,23358.84
1,posted,NaN,0,ACC-1890605467,AUD,143.88 -37.66,PAY/SALARY,NaN,0.0,Alexander,11860.25,2018-08-24,M,38,NaN,NaN,2018-08-24T15:00:00.000+0000,3649.51,0f70c817266045b7b85bba25d71b59e2,Australia,CUS-1478398256,NaN,credit,43794.12
2,posted,NaN,0,ACC-414431115,AUD,142.77 -37.06,PAY/SALARY,NaN,0.0,Amy,6988.64,2018-10-25,F,43,NaN,NaN,2018-10-25T16:00:00.000+0000,1630.36,a1f2848d6308429c946021b9b6326a2e,Australia,CUS-2599279756,NaN,credit,19564.32
3,posted,NaN,0,ACC-721712940,AUD,145.09 -37.82,PAY/SALARY,NaN,0.0,Andrew,55110.06,2018-09-20,M,78,NaN,NaN,2018-09-20T12:00:00.000+0000,782.42,9aa85ccea9ed4d25b048937bfa75edcb,Australia,CUS-1646183815,NaN,credit,9389.04
4,posted,NaN,0,ACC-1973887809,AUD,115.78 -31.90,PAY/SALARY,NaN,0.0,Antonio,5674.54,2018-09-12,M,26,NaN,NaN,2018-09-12T16:00:00.000+0000,1098.91,dd06cc65cf474b15b84550fba6e3bb33,Australia,CUS-1646621553,NaN,credit,13186.92
5,posted,NaN,0,ACC-3741880913,AUD,150.50 -23.40,PAY/SALARY,NaN,0.0,Ashley,6095.16,2018-08-17,F,25,NaN,NaN,2018-08-17T16:00:00.000+0000,2282.36,d7709442d6f84d2a8c2b95d1083f0590,Australia,CUS-1220154422,NaN,credit,27388.32
6,posted,NaN,0,ACC-1683215619,AUD,138.67 -34.86,PAY/SALARY,NaN,0.0,Barry,2503.10,2018-08-17,M,38,NaN,NaN,2018-08-17T15:00:00.000+0000,2500.00,04919fcea7f94f67a0110b4fe9e566d2,Australia,CUS-1604596597,NaN,credit,30000.00
7,posted,NaN,0,ACC-1199531521,AUD,116.02 -31.87,PAY/SALARY,NaN,0.0,Billy,17697.63,2018-10-12,M,52,NaN,NaN,2018-10-12T13:00:00.000+0000,3785.78,673eca6c8c144949b63295890727ff4d,Australia,CUS-134833760,NaN,credit,45429.36
8,posted,NaN,0,ACC-2650850707,AUD,148.16 -23.52,PAY/SALARY,NaN,0.0,Brian,120372.61,2018-10-29,M,42,NaN,NaN,2018-10-29T13:00:00.000+0000,3231.26,96b2296a82ac4ac89df93a0f0bbb173e,Australia,CUS-2819545904,NaN,credit,38775.12
9,posted,NaN,0,ACC-2265520058,AUD,151.27 -33.85,PAY/SALARY,NaN,0.0,Catherine,6548.23,2018-10-08,F,26,NaN,NaN,2018-10-08T11:00:00.000+0000,1843.14,6494bb95d4264711b3f866af7326e127,Australia,CUS-331942311,NaN,credit,22117.68
10,posted,NaN,0,ACC-37709441,AUD,153.41 -28.01,PAY/SALARY,NaN,0.0,Charles,17139.54,2018-10-02,M,18,NaN,NaN,2018-10-02T11:00:00.000+0000,4132.23,691d8672378940c3a753f95d5c589be4,Australia,CUS-3336454548,NaN,credit,49586.76
11,posted,NaN,0,ACC-354106658,AUD,151.04 -33.80,PAY/SALARY,NaN,0.0,Christine,10891.05,2018-09-14,F,39,NaN,NaN,2018-09-14T15:00:00.000+0000,5103.51,188e04b6e00f44f3a43afbf232a6f5c3,Australia,CUS-2376382098,NaN,credit,61242.12
12,posted,NaN,0,ACC-1334819143,AUD,145.13 -37.70,PAY/SALARY,NaN,0.0,Christopher,64558.32,2018-09-25,M,33,NaN,NaN,2018-09-25T12:00:00.000+0000,2718.51,b463b2c625d740f892e53756c9b8c173,Australia,CUS-3117610635,NaN,credit,32622.12
13,posted,NaN,0,ACC-90814749,AUD,151.68 -32.98,PAY/SALARY,NaN,0.0,Christopher,9905.80,2018-08-24,M,35,NaN,NaN,2018-08-24T15:00:00.000+0000,2308.67,90769ac836244a65b66c505bcf9e7f56,Australia,CUS-1896554896,NaN,credit,27704.04
14,posted,NaN,0,ACC-2259139624,AUD,144.66 -37.91,PAY/SALARY,NaN,0.0,Cindy,14053.84,2018-09-20,F,19,NaN,NaN,2018-09-20T11:00:00.000+0000,3676.94,f44ee633bce248d4b4e9260dffd673f4,Australia,CUS-3174332735,NaN,credit,44123.28
15,posted,NaN,0,ACC-3827517394,AUD,151.12 -33.89,PAY/SALARY,NaN,0.0,Craig,39563.70,2018-09-10,M,28,NaN,NaN,2018-09-10T17:00:00.000+0000,4054.77,9636a6cfa6114db4840bcccf942cd412,Australia,CUS-2663907001,NaN,credit,48657.24
16,posted,NaN,0,ACC-2901672282,AUD,255.00 -573.00,PAY/SALARY,NaN,0.0,Daniel,14864.23,2018-10-26,M,22,NaN,NaN,2018-10-26T17:00:00.000+0000,3328.77,a3720984d89f441c93a62bbe12508eb1,Australia,CUS-1617121891,NaN,credit,39945.24
17,posted,NaN,0,ACC-2270192619,AUD,138.56 -35.27,PAY/SALARY,NaN,0.0,Darren,9637.69,2018-08-06,M,20,NaN,NaN,2018-08-06T17:00:00.000+0000,3026.95,c1d51fe6ac554d37b93d57dba64d6674,Australia,CUS-2110742437,NaN,credit,36323.40
18,posted,NaN,0,ACC-1998563091,AUD,149.03 -35.25,PAY/SALARY,NaN,0.0,David,17520.17,2018-09-11,M,42,NaN,NaN,2018-09-11T13:00:00.000+0000,1757.81,f5688af1387a4d7cab6c526402acebc3,Australia,CUS-3395687666,NaN,credit,21093.72
19,posted,NaN,0,ACC-2305712452,AUD,138.61 -34.89,PAY/SALARY,NaN,0.0,Debra,7515.44,2018-10-30,F,18,NaN,NaN,2018-10-30T14:00:00.000+0000,761.33,a65014f2fc8b4a9fa21b6cbed5065e41,Australia,CUS-1842679196,NaN,credit,9135.96
20,posted,NaN,0,ACC-3771436525,AUD,145.04 -37.92,PAY/SALARY,NaN,0.0,Derek,8682.68,2018-10-30,M,20,NaN,NaN,2018-10-30T17:00:00.000+0000,1099.70,df7cf5f12a374d71b075518558ee424d,Australia,CUS-3325710106,NaN,credit,13196.40
21,posted,NaN,0,ACC-1598451071,AUD,153.41 -27.95,PAY/SALARY,NaN,0.0,Diana,2727.43,2018-09-19,F,26,NaN,NaN,2018-09-19T14:00:00.000+0000,1013.67,63a5b2fc882e4a3a9704be310b85225d,Australia,CUS-2487424745,NaN,credit,12164.04
22,posted,NaN,0,ACC-1424176027,AUD,151.08 -33.93,PAY/SALARY,NaN,0.0,Donald,2200.13,2018-08-09,M,22,NaN,NaN,2018-08-09T14:00:00.000+0000,1928.97,af797fa1790942a882d4b53da514731c,Australia,CUS-3431016847,NaN,credit,23147.64
23,posted,NaN,0,ACC-80388494,AUD,144.97 -37.42,PAY/SALARY,NaN,0.0,Dustin,4170.52,2018-08-24,M,28,NaN,NaN,2018-08-24T16:00:00.000+0000,1916.51,65772072c5954b5ca69edb12b50a680c,Australia,CUS-1140341822,NaN,credit,22998.12
24,posted,NaN,0,ACC-2249586092,AUD,115.98 -32.07,PAY/SALARY,NaN,0.0,Edward,5053.83,2018-08-06,M,19,NaN,NaN,2018-08-06T13:00:00.000+0000,990.55,975f3f94186245f0a38afde27da06654,Australia,CUS-443776336,NaN,credit,11886.60
25,posted,NaN,0,ACC-2674800293,AUD,144.96 -37.69,PAY/SALARY,NaN,0.0,Elizabeth,30873.87,2018-10-26,F,50,NaN,NaN,2018-10-26T14:00:00.000+0000,1436.98,7c6e3b6ce7d74e9f931c4cdfa3eb3a64,Australia,CUS-2977593493,NaN,credit,17243.76
26,posted,NaN,0,ACC-2615038700,AUD,145.35 -38.03,PAY/SALARY,NaN,0.0,Emily,31071.17,2018-09-03,F,43,NaN,NaN,2018-09-03T13:00:00.000+0000,664.43,6dcaa668861b4d598d3dde412e300116,Australia,CUS-3255104878,NaN,credit,7973.16
27,posted,NaN,0,ACC-3326339947,AUD,151.18 -33.80,PAY/SALARY,NaN,0.0,Eric,12978.93,2018-10-24,M,22,NaN,NaN,2018-10-24T12:00:00.000+0000,983.36,8860723cc2ea444cb328f0d46e7c4c7f,Australia,CUS-326006476,NaN,credit,11800.32
28,posted,NaN,0,ACC-4281711154,AUD,144.98 -37.84,PAY/SALARY,NaN,0.0,Eric,43579.84,2018-10-30,M,42,NaN,NaN,2018-10-30T16:00:00.000+0000,1757.82,b6d417eb17f14acdb488d491b19a3f5e,Australia,CUS-3151318058,NaN,credit,21093.84
29,posted,NaN,0,ACC-2171593283,AUD,146.94 -36.04,PAY/SALARY,NaN,0.0,Fernando,19893.45,2018-10-31,M,19,NaN,NaN,2018-10-31T17:00:00.000+0000,2639.76,d4804402c1c34e0ebc53a4c395e0c63d,Australia,CUS-2317998716,NaN,credit,31677.12
30,posted,NaN,0,ACC-1243371644,AUD,150.90 -33.78,PAY/SALARY,NaN,0.0,Gregory,6599.68,2018-10-18,M,42,NaN,NaN,2018-10-18T13:00:00.000+0000,1681.58,76d2ee9752334f47a12c1ec298921b5b,Australia,CUS-3904958894,NaN,credit,20178.96
31,posted,NaN,0,ACC-3536132544,AUD,144.93 -37.79,PAY/SALARY,NaN,0.0,Heather,7333.65,2018-10-04,F,41,NaN,NaN,2018-10-04T11:00:00.000+0000,2101.51,b813a81187c2450aa840afb3822fdb01,Australia,CUS-2348881191,NaN,credit,25218.12
32,posted,NaN,0,ACC-588564840,AUD,151.27 -33.76,PAY/SALARY,NaN,0.0,Isaiah,17906.31,2018-09-26,M,23,NaN,NaN,2018-09-26T11:00:00.000+0000,3903.95,3885424223de46eb894231ee607c28f2,Australia,CUS-1462656821,NaN,credit,46847.40
33,posted,NaN,0,ACC-211792489,AUD,138.63 -34.93,PAY/SALARY,NaN,0.0,Jacqueline,7397.59,2018-10-23,F,30,NaN,NaN,2018-10-23T17:00:00.000+0000,4910.90,1c410d75288f4fbb832f88d7f612693b,Australia,CUS-497688347,NaN,credit,58930.80
34,posted,NaN,0,ACC-854938045,AUD,147.63 -22.84,PAY/SALARY,NaN,0.0,James,10551.95,2018-08-20,M,28,NaN,NaN,2018-08-20T17:00:00.000+0000,2538.68,959cd84aa6f046d0841a94f804be20de,Australia,CUS-4023861240,NaN,credit,30464.16
35,posted,NaN,0,ACC-1903037542,AUD,153.05 -27.61,PAY/SALARY,NaN,0.0,Jeffrey,5694.13,2018-10-11,M,30,NaN,NaN,2018-10-11T14:00:00.000+0000,1808.62,e62e1637cbdf4804af4059d1948f06e1,Australia,CUS-860700529,NaN,credit,21703.44
36,posted,NaN,0,ACC-3541460373,AUD,145.00 -37.83,PAY/SALARY,NaN,0.0,Jeffrey,4756.59,2018-10-10,M,24,NaN,NaN,2018-10-10T13:00:00.000+0000,1408.08,aa21062a1680434fb85d92395ef69f1e,Australia,CUS-1433879684,NaN,credit,16896.96
37,posted,NaN,0,ACC-1516130869,AUD,130.84 -12.45,PAY/SALARY,NaN,0.0,Jessica,3351.59,2018-09-05,F,21,NaN,NaN,2018-09-05T13:00:00.000+0000,2306.63,07e4515c72c34957b946a926b888819b,Australia,CUS-325142416,NaN,credit,27679.56
38,posted,NaN,0,ACC-3485804958,AUD,138.52 -35.01,PAY/SALARY,NaN,0.0,Jessica,28529.10,2018-10-10,F,34,NaN,NaN,2018-10-10T16:00:00.000+0000,3903.73,649c5de3b5f64814a52257a55a29e431,Australia,CUS-1196156254,NaN,credit,46844.76
39,posted,NaN,0,ACC-4059612845,AUD,130.98 -12.49,PAY/SALARY,NaN,0.0,Jonathan,63656.55,2018-10-24,M,38,NaN,NaN,2018-10-24T16:00:00.000+0000,2647.38,4fc58f9dfba14f7ea4d363b0de723c92,Australia,CUS-495599312,NaN,credit,31768.56
40,posted,NaN,0,ACC-2890243754,AUD,153.32 -27.93,PAY/SALARY,NaN,0.0,Joseph,5281.59,2018-10-05,M,37,NaN,NaN,2018-10-05T12:00:00.000+0000,917.45,f06098e9568143c5977a0a94383136a8,Australia,CUS-2695611575,NaN,credit,11009.40
41,posted,NaN,0,ACC-966140392,AUD,147.08 -37.97,PAY/SALARY,NaN,0.0,Joseph,10156.85,2018-10-12,M,21,NaN,NaN,2018-10-12T17:00:00.000+0000,2572.91,b4ab76590c4846dda3eab005b49c93e3,Australia,CUS-537508723,NaN,credit,30874.92
42,posted,NaN,0,ACC-1990648130,AUD,114.62 -28.80,PAY/SALARY,NaN,0.0,Kaitlyn,3357.61,2018-08-14,F,21,NaN,NaN,2018-08-14T14:00:00.000+0000,1037.07,6f9ab08a03db4e3888b0023984ced9f0,Australia,CUS-809013380,NaN,credit,12444.84
43,posted,NaN,0,ACC-4163822186,AUD,149.03 -34.97,PAY/SALARY,NaN,0.0,Karen,6759.80,2018-09-06,F,26,NaN,NaN,2018-09-06T11:00:00.000+0000,920.71,38f156fc5fa044e9b9c265af9016ad48,Australia,CUS-2630892467,NaN,credit,11048.52
44,posted,NaN,0,ACC-3317636250,AUD,153.02 -27.66,PAY/SALARY,NaN,0.0,Kenneth,19130.97,2018-10-19,M,35,NaN,NaN,2018-10-19T17:00:00.000+0000,2544.76,3351a527c30845aab80520ccfc7103a5,Australia,CUS-2738291516,NaN,credit,30537.12
45,posted,NaN,0,ACC-240804743,AUD,121.48 -30.75,PAY/SALARY,NaN,0.0,Kenneth,7961.21,2018-08-20,M,29,NaN,NaN,2018-08-20T11:00:00.000+0000,4405.30,b309ae70aef54c3bbf6637813026ba1f,Australia,CUS-261674136,NaN,credit,52863.60
46,posted,NaN,0,ACC-4258502723,AUD,145.45 -37.74,PAY/SALARY,NaN,0.0,Kimberly,6203.64,2018-10-22,F,24,NaN,NaN,2018-10-22T13:00:00.000+0000,1059.84,fd84456331d7452fae73be187e0aadcf,Australia,CUS-3378712515,NaN,credit,12718.08
47,posted,NaN,0,ACC-1217063613,AUD,147.61 -37.82,PAY/SALARY,NaN,0.0,Kimberly,4863.86,2018-09-26,F,27,NaN,NaN,2018-09-26T13:00:00.000+0000,4863.62,8659baa692924427aefbf4077c5a9d67,Australia,CUS-1739931018,NaN,credit,58363.44
48,posted,NaN,0,ACC-53508546,AUD,150.62 -33.76,PAY/SALARY,NaN,0.0,Kimberly,1067.25,2018-08-02,F,35,NaN,NaN,2018-08-02T17:00:00.000+0000,725.32,7573c2cb8ab44dffbfa85361990e13da,Australia,CUS-72755508,NaN,credit,8703.84
49,posted,NaN,0,ACC-2776252858,AUD,144.95 -37.76,PAY/SALARY,NaN,0.0,Kristin,5420.91,2018-09-19,F,43,NaN,NaN,2018-09-19T13:00:00.000+0000,1068.04,1b0f7eaad32945249589f2a2f968a659,Australia,CUS-4123612273,NaN,credit,12816.48
50,posted,NaN,0,ACC-2231965366,AUD,144.96 -37.84,PAY/SALARY,NaN,0.0,Linda,16407.89,2018-09-18,F,35,NaN,NaN,2018-09-18T12:00:00.000+0000,2443.24,509c66ec9f2e438b8b6c7cf5753a1f30,Australia,CUS-2155701614,NaN,credit,29318.88
51,posted,NaN,0,ACC-2153562714,AUD,116.00 -31.88,PAY/SALARY,NaN,0.0,Linda,7076.21,2018-09-24,F,24,NaN,NaN,2018-09-24T14:00:00.000+0000,3712.56,8d7ddef22c7c4404b63137f3ebd1a6ff,Australia,CUS-423725039,NaN,credit,44550.72
52,posted,NaN,0,ACC-154431271,AUD,153.09 -27.48,PAY/SALARY,NaN,0.0,Lori,1546.67,2018-08-09,F,18,NaN,NaN,2018-08-09T17:00:00.000+0000,1537.68,e3d04e24400c474583e98f82f75c4869,Australia,CUS-3702001629,NaN,credit,18452.16
53,posted,NaN,0,ACC-4065652575,AUD,115.81 -31.82,PAY/SALARY,NaN,0.0,Lucas,18516.40,2018-10-29,M,21,NaN,NaN,2018-10-29T11:00:00.000+0000,3578.65,fda341137c594efb8d6722130ff029ee,Australia,CUS-1117979751,NaN,credit,42943.80
54,posted,NaN,0,ACC-2173390920,AUD,144.71 -37.58,PAY/SALARY,NaN,0.0,Luis,10162.29,2018-10-08,M,27,NaN,NaN,2018-10-08T13:00:00.000+0000,1396.23,fc274f9ad16444deadc54586d564704f,Australia,CUS-3180318393,NaN,credit,16754.76
55,posted,NaN,0,ACC-574997646,AUD,150.79 -33.64,PAY/SALARY,NaN,0.0,Mackenzie,6988.76,2018-10-19,F,18,NaN,NaN,2018-10-19T14:00:00.000+0000,1952.29,4ec0e86aff554c94b59b08df78d1d7d3,Australia,CUS-586638664,NaN,credit,23427.48
56,posted,NaN,0,ACC-1438600314,AUD,138.69 -34.84,PAY/SALARY,NaN,0.0,Maria,3272.79,2018-09-24,F,35,NaN,NaN,2018-09-24T12:00:00.000+0000,862.95,cbcaa37d5514427bae19a583bae171e8,Australia,CUS-2650223890,NaN,credit,10355.40
57,posted,NaN,0,ACC-1650504218,AUD,145.01 -37.93,PAY/SALARY,NaN,0.0,Marissa,5697.52,2018-08-22,F,23,NaN,NaN,2018-08-22T12:00:00.000+0000,1626.48,dc875fcbcc4c48f79b4892c29f73fce6,Australia,CUS-2500783281,NaN,credit,19517.76
58,posted,NaN,0,ACC-559365433,AUD,147.31 -42.88,PAY/SALARY,NaN,0.0,Mary,1256.90,2018-08-10,F,64,NaN,NaN,2018-08-10T13:00:00.000+0000,576.00,8d9329c7dff0494e9d232fd01538f580,Australia,CUS-1654129794,NaN,credit,6912.00
59,posted,NaN,0,ACC-1349834573,AUD,145.17 -37.84,PAY/SALARY,NaN,0.0,Matthew,8965.29,2018-08-15,M,39,NaN,NaN,2018-08-15T17:00:00.000+0000,3071.14,ebb87a468a524e20b6bcff34bd7482bf,Australia,CUS-1790886359,NaN,credit,36853.68
60,posted,NaN,0,ACC-3021093232,AUD,149.83 -29.47,PAY/SALARY,NaN,0.0,Melissa,8446.10,2018-09-10,F,30,NaN,NaN,2018-09-10T14:00:00.000+0000,1636.72,ecae7b61234d4ee7ad0fc47f9bf25790,Australia,CUS-55310383,NaN,credit,19640.64
61,posted,NaN,0,ACC-964839203,AUD,146.92 -36.07,PAY/SALARY,NaN,0.0,Michael,30780.23,2018-08-10,M,21,NaN,NaN,2018-08-10T16:00:00.000+0000,1560.20,228d924501214204b0b1fb8cf116ac26,Australia,CUS-2059096722,NaN,credit,18722.40
62,posted,NaN,0,ACC-1056639002,AUD,145.03 -37.91,PAY/SALARY,NaN,0.0,Michael,48555.95,2018-09-13,M,22,NaN,NaN,2018-09-13T17:00:00.000+0000,3195.01,dd9ac8be24424a4ebc1f50193b12f139,Australia,CUS-3462882033,NaN,credit,38340.12
63,posted,NaN,0,ACC-1222300524,AUD,151.23 -33.94,PAY/SALARY,NaN,0.0,Michael,1006.33,2018-09-11,M,38,NaN,NaN,2018-09-11T17:00:00.000+0000,1002.13,a482d73773854d24a97ad042ef265852,Australia,CUS-2142601169,NaN,credit,12025.56
64,posted,NaN,0,ACC-602667573,AUD,151.23 -33.96,PAY/SALARY,NaN,0.0,Michael,18606.85,2018-10-08,M,40,NaN,NaN,2018-10-08T14:00:00.000+0000,2280.36,11ac6e0110734f40bcb03ba1c747924e,Australia,CUS-2031327464,NaN,credit,27364.32
65,posted,NaN,0,ACC-2988263882,AUD,145.18 -37.90,PAY/SALARY,NaN,0.0,Michael,6756.84,2018-10-04,M,44,NaN,NaN,2018-10-04T15:00:00.000+0000,596.33,79a347369c0145859fdf28f797496f5d,Australia,CUS-1233833708,NaN,credit,7155.96
66,posted,NaN,0,ACC-847145727,AUD,115.90 -31.92,PAY/SALARY,NaN,0.0,Michael,57686.46,2018-09-10,M,19,NaN,NaN,2018-09-10T17:00:00.000+0000,2854.74,8420a9b70719410d9703755cc77e3f0a,Australia,CUS-1609060617,NaN,credit,34256.88
67,posted,NaN,0,ACC-819621312,AUD,145.04 -37.85,PAY/SALARY,NaN,0.0,Michele,4977.55,2018-09-05,F,30,NaN,NaN,2018-09-05T17:00:00.000+0000,1158.15,5f46d4a33fdc4d70ae0e395925f9eaba,Australia,CUS-1271030853,NaN,credit,13897.80
68,posted,NaN,0,ACC-1710017148,AUD,150.82 -34.01,PAY/SALARY,NaN,0.0,Michelle,17663.99,2018-10-15,F,19,NaN,NaN,2018-10-15T17:00:00.000+0000,3977.46,237ce909ec984191b6229ec39d82a99c,Australia,CUS-883482547,NaN,credit,47729.52
69,posted,NaN,0,ACC-3879258709,AUD,143.83 -37.66,PAY/SALARY,NaN,0.0,Natasha,203046.00,2018-10-01,F,40,NaN,NaN,2018-10-01T11:00:00.000+0000,4216.04,ea0b3c15258d418f8ea3461e164ca090,Australia,CUS-527400765,NaN,credit,50592.48
70,posted,NaN,0,ACC-2681137560,AUD,151.11 -33.99,PAY/SALARY,NaN,0.0,Nathaniel,13706.66,2018-10-22,M,31,NaN,NaN,2018-10-22T13:00:00.000+0000,2886.52,0a789c20ba26446e8b48e4c85f014ee9,Australia,CUS-2083971310,NaN,credit,34638.24
71,posted,NaN,0,ACC-2014856841,AUD,144.99 -37.90,PAY/SALARY,NaN,0.0,Patrick,260393.90,2018-08-10,M,46,NaN,NaN,2018-08-10T17:00:00.000+0000,2179.96,dde605aacebe400fbd69520e2b9e8593,Australia,CUS-2370108457,NaN,credit,26159.52
72,posted,NaN,0,ACC-3941181087,AUD,115.79 -31.94,PAY/SALARY,NaN,0.0,Paul,3506.06,2018-08-09,M,25,NaN,NaN,2018-08-09T17:00:00.000+0000,2687.85,acf0440be17643a088a11d1fa7f048d2,Australia,CUS-3989008654,NaN,credit,32254.20
73,posted,NaN,0,ACC-1788473090,AUD,145.06 -37.95,PAY/SALARY,NaN,0.0,Rachael,3830.37,2018-08-17,F,21,NaN,NaN,2018-08-17T13:00:00.000+0000,2023.68,ca932331b54d4cb4ac3659ad2ab18294,Australia,CUS-134193016,NaN,credit,24284.16
74,posted,NaN,0,ACC-1652235822,AUD,144.89 -37.81,PAY/SALARY,NaN,0.0,Renee,21251.74,2018-09-25,F,38,NaN,NaN,2018-09-25T17:00:00.000+0000,1541.12,1a695a55b1164b4c806a25cf835fed98,Australia,CUS-2206365095,NaN,credit,18493.44
75,posted,NaN,0,ACC-1037050564,AUD,153.10 -27.66,PAY/SALARY,NaN,0.0,Rhonda,4465.56,2018-09-24,F,40,NaN,NaN,2018-09-24T11:00:00.000+0000,892.09,73e282fb810d4273b5482aa4c3cc601a,Australia,CUS-1614226872,NaN,credit,10705.08
76,posted,NaN,0,ACC-3881031190,AUD,149.19 -21.15,PAY/SALARY,NaN,0.0,Richard,3797.09,2018-08-23,M,37,NaN,NaN,2018-08-23T16:00:00.000+0000,916.75,4d0594f8badd47a7ac9038c3c4afea9e,Australia,CUS-3201519139,NaN,credit,11001.00
77,posted,NaN,0,ACC-2107684084,AUD,145.03 -37.88,PAY/SALARY,NaN,0.0,Richard,12459.42,2018-10-25,M,22,NaN,NaN,2018-10-25T13:00:00.000+0000,2218.73,69ff5a565de643268f0bdffce3bfabe4,Australia,CUS-2283904812,NaN,credit,26624.76
78,posted,NaN,0,ACC-2673069055,AUD,152.99 -27.49,PAY/SALARY,NaN,0.0,Richard,17127.02,2018-08-07,M,24,NaN,NaN,2018-08-07T15:00:00.000+0000,6024.49,b2fedeaf02a6485ba4cf3be69b56a80b,Australia,CUS-51506836,NaN,credit,72293.88
79,posted,NaN,0,ACC-1496451953,AUD,145.16 -37.84,PAY/SALARY,NaN,0.0,Ricky,17543.05,2018-10-01,M,43,NaN,NaN,2018-10-01T13:00:00.000+0000,2588.01,bb51c88d3ca4407b999ad0e73e7ec26d,Australia,CUS-3142625864,NaN,credit,31056.12
80,posted,NaN,0,ACC-1608363396,AUD,151.22 -33.87,PAY/SALARY,NaN,0.0,Robert,6069.17,2018-09-06,M,20,NaN,NaN,2018-09-06T14:00:00.000+0000,2320.30,cce2cd0dd5854a82bff8cfd1165095e1,Australia,CUS-2688605418,NaN,credit,27843.60
81,posted,NaN,0,ACC-2970114956,AUD,144.89 -37.69,PAY/SALARY,NaN,0.0,Robert,8039.71,2018-08-30,M,26,NaN,NaN,2018-08-30T15:00:00.000+0000,1433.98,615cd11c8e4a4edca03ae00c88176bea,Australia,CUS-880898248,NaN,credit,17207.76
82,posted,NaN,0,ACC-3233697971,AUD,151.04 -33.77,PAY/SALARY,NaN,0.0,Robin,8496.43,2018-09-17,F,34,NaN,NaN,2018-09-17T11:00:00.000+0000,1711.39,b4ea64333bcd4d25959cd317d08496e0,Australia,CUS-1147642491,NaN,credit,20536.68
83,posted,NaN,0,ACC-3100725361,AUD,145.73 -17.03,PAY/SALARY,NaN,0.0,Ronald,6111.57,2018-09-26,M,25,NaN,NaN,2018-09-26T15:00:00.000+0000,6107.23,7eb1fdb7aefb40d1a8ada1d27f556542,Australia,CUS-2178051368,NaN,credit,73286.76
84,posted,NaN,0,ACC-3954677887,AUD,115.72 -32.28,PAY/SALARY,NaN,0.0,Ruth,10053.14,2018-10-30,F,47,NaN,NaN,2018-10-30T17:00:00.000+0000,1272.47,0c7862d4c36b4d9abf5cc629b0dacea5,Australia,CUS-3716701010,NaN,credit,15269.64
85,posted,NaN,0,ACC-1443681913,AUD,150.92 -33.77,PAY/SALARY,NaN,0.0,Ryan,3648.80,2018-09-04,M,31,NaN,NaN,2018-09-04T13:00:00.000+0000,996.24,06337a7922a74adeba5615061e473cce,Australia,CUS-3129499595,NaN,credit,11954.88
86,posted,NaN,0,ACC-38923874,AUD,151.27 -33.90,PAY/SALARY,NaN,0.0,Ryan,36558.24,2018-08-31,M,38,NaN,NaN,2018-08-31T11:00:00.000+0000,1880.95,a7829be099c14536a77ccd456e4c938b,Australia,CUS-3249305314,NaN,credit,22571.40
87,posted,NaN,0,ACC-958000567,AUD,130.90 -12.37,PAY/SALARY,NaN,0.0,Sandra,3725.95,2018-08-07,F,34,NaN,NaN,2018-08-07T17:00:00.000+0000,3517.61,123943e86d6c44e9bafe6097034b44d9,Australia,CUS-4142663097,NaN,credit,42211.32

In [55]:
df['annual_sal'] = salaries['annual_sal'].where(df['account'] == salaries['account'],0)

ValueError: Can only compare identically-labeled Series objects

In [41]:
df.head()

,status,card_present_flag,bpay_biller_code,account,currency,long_lat,txn_description,merchant_id,merchant_code,first_name,balance,date,gender,age,merchant_suburb,merchant_state,extraction,amount,transaction_id,country,customer_id,merchant_long_lat,movement,annual,annual_sal
0,authorized,1.0,NaN,ACC-1598451071,AUD,153.41 -27.95,POS,81c48296-73be-44a7-befa-d053f48ce7cd,NaN,Diana,35.39,2018-08-01,F,26,Ashmore,QLD,2018-08-01T01:01:15.000+0000,16.25,a623070bfead4541a6b0fff8a09e706c,Australia,CUS-2487424745,153.38 -27.99,debit,0,0
1,authorized,0.0,NaN,ACC-1598451071,AUD,153.41 -27.95,SALES-POS,830a451c-316e-4a6a-bf25-e37caedca49e,NaN,Diana,21.20,2018-08-01,F,26,Sydney,NSW,2018-08-01T01:13:45.000+0000,14.19,13270a2a902145da9db4c951e04b51b9,Australia,CUS-2487424745,151.21 -33.87,debit,0,0
2,authorized,1.0,NaN,ACC-1222300524,AUD,151.23 -33.94,POS,835c231d-8cdf-4e96-859d-e9d571760cf0,NaN,Michael,5.71,2018-08-01,M,38,Sydney,NSW,2018-08-01T01:26:15.000+0000,6.42,feb79e7ecd7048a5a36ec889d1a94270,Australia,CUS-2142601169,151.21 -33.87,debit,0,0
3,authorized,1.0,NaN,ACC-1037050564,AUD,153.10 -27.66,SALES-POS,48514682-c78a-4a88-b0da-2d6302e64673,NaN,Rhonda,2117.22,2018-08-01,F,40,Buderim,QLD,2018-08-01T01:38:45.000+0000,40.90,2698170da3704fd981b15e64a006079e,Australia,CUS-1614226872,153.05 -26.68,debit,0,0
4,authorized,1.0,NaN,ACC-1598451071,AUD,153.41 -27.95,SALES-POS,b4e02c10-0852-4273-b8fd-7b3395e32eb0,NaN,Diana,17.95,2018-08-01,F,26,Mermaid Beach,QLD,2018-08-01T01:51:15.000+0000,3.25,329adf79878c4cf0aeb4188b4691c266,Australia,CUS-2487424745,153.44 -28.06,debit,0,0

In [34]:
salaries.corr()

,card_present_flag,merchant_code,balance,age,amount,annual_sal
card_present_flag,NaN,NaN,NaN,NaN,NaN,NaN
merchant_code,NaN,NaN,NaN,NaN,NaN,NaN
balance,NaN,NaN,1.000000,0.231415,0.232506,0.232506
age,NaN,NaN,0.231415,1.000000,-0.135264,-0.135264
amount,NaN,NaN,0.232506,-0.135264,1.000000,1.000000
annual_sal,NaN,NaN,0.232506,-0.135264,1.000000,1.000000